* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background: url('https://cdn.wallpapersafari.com/70/33/sMyrTv.jpg') no-repeat;
    background-size: cover;
}

.pokegame {
    text-align: center;
    
}
.memory-game {
    
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    perspective: 1000px;

}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.33% - 10px);
    position: relative;
    margin: 5px;
    
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}
.memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    position: absolute;
    border: 2px solid rebeccapurple;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
    background: white;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}
